:root{

    /* VARIAVEL PARA FONTE */
    --font-dm-sans: "DM Sans", sans-serif;

    /* VARIAVEIS PARA AS CORES */
    --background-color:#121212;
    --tercearia-color: #ffffff;
    --primaria-color: #000000;
    --secundaria-color: #b3b3b3;
    --bg-icon:#131313;
    --bg-arrow-color: rgba(0, 0, 0, 0.7);
    --text-sub: #a7a7a7;


}


